secrets/*
auto/

mcp1_gmail_extractor/__pycache__/
mcp1_gmail_extractor/*.py[oc]
mcp1_gmail_extractor/build/
mcp1_gmail_extractor/dist/
mcp1_gmail_extractor/wheels/
mcp1_gmail_extractor/*.egg-info

mcp1_gmail_extractor/.venv


mcp2_summarizer/__pycache__/
mcp2_summarizer/*.py[oc]
mcp2_summarizer/build/
mcp2_summarizer/dist/
mcp2_summarizer/wheels/
mcp2_summarizer/*.egg-info

mcp2_summarizer/.venv